*{
    padding: 0;
    margin: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
 }

 .container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
 }
 
 .container .content{
    text-align: center;
 }

 .container .content h3{
    font-size: 30px;
    color: #333;
 }

 .container .content h3 span{
    background: crimson;
    color: #fff;
    border-radius: 5px;
    padding: 0 15px;
 }

 .container .content h1{
    font-size: 50px;
    color: #333;
 }

 .container .content h1 span{
    color: crimson;
 }

 .container .content p{
    font-size: 25px;
    margin-bottom: 20px;
 }
 .container .content .btn{
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    background: #333;
    color: #fff;
    margin: 0 5px;
    text-transform: capitalize;
 }

 .container .content .btn:hover{
    background: crimson;
 }